{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>CCCT{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'webpage/css/bootstrap.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'webpage/css/styles.css' %}"/>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
      <div class="navbar-header">
        <a class="logo navbar-brand" href="#"><img src="{% static 'webpage/media/ccct.gif'%}" width="100px"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{% block homeActive %}{% endblock %}"><a href="#">Inicio</a></li>
          <li class="{% block memberActive %}{% endblock %}"><a href="#">Miembros</a></li>
          <li class="{% block projectActive %}{% endblock %}"><a href="#">Proyectos</a></li>
          <li class="{% block publishActive %}{% endblock %}"><a href="#">Publicaciones</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>Tesis</b> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="{% block propActive %}{% endblock %}"><a href="#">Propuestas</a></li>
              <li class="{% block ongoActive %}{% endblock %}"><a href="#">En curso</a></li>
              <li class="{% block doneActive %}{% endblock %}"><a href="#">Terminadas</a></li>
            </ul>
          </li>
          <li class="{% block seminarActive %}{% endblock %}"><a href="#">Seminario</a></li>
        </ul>
      </div>
    </div>
  </nav><br><br> 

  {% block body %} {% endblock %}


  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container footer">
      Centro de C&aacute;lculo Cient&iacute;fico y Tecnol&oacute;gico © 2015. Todos los derechos reservados
    </div>
  </nav>


  <script type="text/javascript" src="{% static 'webpage/js/jquery-2.1.3.js' %}"></script>
  <script type="text/javascript" src="{% static 'webpage/js/bootstrap.js' %}"></script>
</body>
</html>
