.navjumb {
	margin-bottom: 0px;
}

div.image-two {
	content:url('../media/ccct.gif');
	margin-bottom: 15px;
	margin-top: 10%;
	padding-left: 18%;
}

div.image-faculty {
	content:url('../media/facultad.png');
	margin-bottom: 15px;
	margin-top: 15px;
	padding-left: 18%;
}

.image-profile {
	width: 300px;
	padding-top: 5%;
}

.title {
	color: #777;
}

.content {
	color: #666;
}

.footer {
	text-align: center;
	padding-top: 1.3%;
	color: #fff;
}

.test {
	background-color: #fff;
	color: #666;
}

.test2 {
	background-color: #2E89B6;	
	border-color: #2E89B6;
}

.test3 > li:hover {
	background-color: #3E99C6;
}

.test4 {
	color: #fff;
}

.back {
	background-color: #E8E8E8;
}

.backwhite {
	background-color: #fff;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 14pt;
}

.borderless {
	border-color: #F8F8F8;
}

.bottom-offset {
	padding-bottom: 28%;
}

.bottom-offset2 {
	padding-bottom: 2%;
}

.top-padding {
	padding-top: 5%;
	padding-bottom: 5%;
}

#inputFile {
	position: absolute;
	left: -5000px;
}